<!-- <section>
    <div class="example-button-row">
      <div class="example-flex-container">
            <div class="example-button-container">
                <button mat-fab color="warn" aria-label="Example icon button with a home icon" (click)="drawMachine()">
                    Machine
                </button>
            </div>
            <div class="example-button-container">
                <button mat-fab color="warn" aria-label="Example icon button with a home icon" (click)="drawQueue()">
                    Queue
                </button>
            </div>
        </div>
    </div>

</section> -->