
<div id="control_container_L" class="white_board--controls left mat-elevation-z8">
    
    <button mat-icon-button (click)="drawMachine()"
        matTooltip="Machine" matTooltipPosition="right" aria-label="Brush">
        <mat-icon>router</mat-icon>
    </button>


    <button mat-icon-button (click)="drawQueue()"
            matTooltip="Queue" matTooltipPosition="right" aria-label="Eraser">
        <mat-icon>group_add</mat-icon>
    </button>

    <button mat-icon-button (click)="drawLine()"
            matTooltip="Line" matTooltipPosition="right" aria-label="Clone"
            >
    <mat-icon>timeline</mat-icon>
    </button>

    <button mat-icon-button (click)="incrementProduct()"
            matTooltip="add product" matTooltipPosition="right" aria-label="Clone"
            >
            <mat-icon>add_circle_outline</mat-icon>
    </button>

    <button  mat-icon-button matTooltip="start" matTooltipPosition="right" aria-label="Delete" (click)="startSimulation()">
        <mat-icon>play_circle_outline</mat-icon>
    </button>

    <button mat-icon-button (click)="replaySimulation()"
                matTooltip="redo" matTooltipPosition="right" aria-label="Brush">
        <mat-icon>replay</mat-icon>
    </button>

</div>

<div class="products"> Number of Products: {{numberOfProducts}}</div>

<div id="container"></div>
